{% load chat_tags %}
<body>
    <h1>Permission to selected users</h1>
    <form method="post" class="post-form">
        {% csrf_token %}
        <ul>
            {% for user in users %}
            <li>
                <label>
                    {% has_permission user "messenger.can_view_chat" as has_perm %}
                    <input type="checkbox" name="users" value="{{ user.id }}"
                           {% if has_perm %} checked {% endif %}>{{ user.username }}
                </label>
            </li>
            {% endfor %}
            <p>Add all active users: {{ form.add_active_users }}</p>
        </ul>
        <button type="submit">Submit</button>
    </form>
<a href="http://127.0.0.1:8000/chat/">Connect to chat</a>
</body>
